
.elementor-control-raw-html.dashboard-notice-el-class {
    margin: 20px 20px 20px 0px;
    padding: 10px;
    color: #1F54D9;
    font-size: 20px;
    border: 1px solid;
    line-height: 27px; 
}
.elementor-editor-active  .elementor-widget-container .no-data-message {
	padding: 20px 10px;
}