.course-benfits-layout-inline ul li,
.course-target-audience-layout-inline ul li,
.course-requirements-layout-inline ul li,
.course-materials-layout-inline ul li {
  display: inline-block;
}

.target-audience-information-list,
.requirements-information-list,
.materials-information-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.elementor-layout-up .academy-course-duration,
.elementor-layout-up .academy-course-total-enrolled,
.elementor-layout-up .academy-course-dificulty-level,
.elementor-layout-up .academy-course-last-update,
.elementor-layout-tabletup .academy-course-duration,
.elementor-layout-tabletup .academy-course-total-enrolled,
.elementor-layout-tabletup .academy-course-dificulty-level,
.elementor-layout-tabletup .academy-course-last-update,
.elementor-layout-mobileup .academy-course-duration,
.elementor-layout-mobileup .academy-course-total-enrolled,
.elementor-layout-mobileup .academy-course-dificulty-level,
.elementor-layout-mobileup .academy-course-last-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.academyea-widget-social-share .share-label {
  margin-right: 5px;
}
.academyea-widget-social-share .academy-share-wrap:not(:last-child) {
  margin-right: 5px;
}
.academyea-widget-social-share .academy-share-wrap .academy-social-share {
  cursor: pointer;
}
.academyea-widget-social-share .academy-share-wrap .academy-social-share i {
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
}
.academyea-widget-social-share .academy-share-wrap .academy_facebook i {
  color: #fff;
  background-color: #3b5998;
}
.academyea-widget-social-share .academy-share-wrap .academy_linkedin i {
  color: #fff;
  background-color: #0077b5;
}
.academyea-widget-social-share .academy-share-wrap .academy_twitter i {
  color: #fff;
  background-color: #1da1f2;
}
.academyea-widget-social-share .academy-share-wrap .academy_pinterest i {
  color: #fff;
  background-color: #e60023;
}
.academyea-widget-social-share .academy-share-wrap .academy_gmail i {
  color: #fff;
  background-color: #4962f8;
}
.academy-single-course__title{
  margin:0px;
}
.academy-single-course__title-wrrap h1.academy-single-course__title{
  font-size: 2.125rem;
}
.academy-single-course__title-wrrap h3.academy-single-course__title{
  font-size: 1.5rem;
}
.academy-single-course__title-wrrap h4.academy-single-course__title{
  font-size: 1.25rem;
}
.academy-single-course__title-wrrap h5.academy-single-course__title{
  font-size: 1.1rem;
}
.academy-single-course__title-wrrap h6.academy-single-course__title{
  font-size: 1rem;
}
 .academy-single-course__title-wrrap p.academy-single-course__title{
  font-size: 14px;
}
.elementor-widget-container .academy-single-course__title-wrrap div.academy-single-course__title, .elementor-widget-container .academy-single-course__title-wrrap h2.academy-single-course__title{
  font-size: 34px;
}
.academy-course-last-update .last-update-label {
  display: inline-flex;
  align-items: center;
}
.target-audience-information-list li , .benefits-information-list li, .requirements-information-list li , .materials-information-list li{
  display: flex;
  align-items: center;
}
.target-audience-information-list li span, .benefits-information-list li span , .academy-single-course__content-item--benefits .benefits-content ul li span, .requirements-information-list li span , .materials-information-list li span{
  line-height: 22px;
}
